<h1>Divide two numbers</h1>
<form action="divide" method="get">
  <input type="text" name="num1"> /
  <input type="text" name="num2">
  <input type="submit" value="Add">
</form>

<%= @result %>

<br/><br/>
<a href="/">Back</a>

